body{
    background-image : url("../image/pillier-de-la-creation.png");
    background-size: cover;
    font-size: 150%;
    background-attachment: fixed;
}

.text{
    color: white;
    font-size: 100% !important;
    border-color: rgba(123, 243, 123, 0.849);
    background-color: #000000cb;
    display: table;
    margin: 50% 0 0 0;
}

#info{
    float: right;
}

.pr1 {
    color: rgb(255, 255, 255);
    font-size: 100% !important;
    border-color: rgba(104, 238, 243, 0.849);
    background-color: #000000cb;
    text-align: center;
    margin: 10% 20% 0 20%;
}

.dotted {border-style: dotted;}
.dashed {border-style: dashed;}
.solid {border-style: solid;}
.double {border-style: double;}
.groove {border-style: groove;}
.ridge {border-style: ridge;}
.inset {border-style: inset;}
.outset {border-style: outset;}
.none {border-style: none;}
.hidden {border-style: hidden;}
.mix {border-style: dotted dashed solid double;}

a{
    font-size: 100%;
}
a:link { /*lien non ouvert*/ /*en rajoutant: .x (x = id du texte) apres a, sela déffinie l'id du texte a changer*/
    text-decoration: none; /*décoration du text*/
    color: #e6e335;
}

a:visited { /*lien déja ouvert*/
    text-decoration: none;
    color: #4cd6f8;
}

a:hover { /*lien avec la souris dessus*/
    text-decoration: underline; /*décoration du text, dans l'exemple: souligner le texte*/
    color: #00c4ff;
}

a:active { /*quand on clique sur le lien*/
    text-decoration: underline;
    color: #00ffd9;
}

/*permet d'aficher la barre*/
.ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #524e4ee1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    letter-spacing: 2px;
    font-size: 20px;
    margin: auto;
    max-height: 200px;
    width: 70%;
}

.li {
    float: left;
	text-align: center;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover {
    background-color: transparent;
    background-color: #3f3c3c;
}

@media (max-width: 600px) { /* pour tout les téléphone/tablette */
    /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    body{
        font-size: 100%;
    }
    a{
        font-size: 100%;
    }
    .ul{
        max-height: 45px!important;
        font-size: 100% !important;
        margin: 1px !important;
        width: 100% !important;
    }
    .li{
        padding: 5px 5px;
    }
    #pr1{
        margin: 25% 0px 0 0px;
    }
    #projl{
        bottom: 0 10px 0 0;
    }
    #tabl_recap{
        margin: 0 !important;
    }
    #img001{
        height: 25%;
        width: 25%;
    }
    .all-text{
        margin: 0 0 0 0;
        font-size: 90% !important;
    }
    .text-gauche{
        margin: 1% 0 0 50% ;
    }
    .tablef{
        margin: 10% 5px 0 5px;
    }
}