#pr1 {
    color: rgb(255, 255, 255);
    font-size: 100% !important;
    border-color: rgba(123, 243, 123, 0.849);
    background-color: #000000cb;
    text-align: center;
    margin: 10% 20% 0 20%;
}

.img-droit{
    float: left;
}

.text-gauche{
    margin: 0 0 0 58.4% ;
}

.img-gauche{
    float: right;
}

.text-droit{
    float: left;
}

#prog{
    text-align: center;
}

.all-text{
    display: table;
}

#img0001{
    height: auto;
    width: auto;
}

.s-title{
    color: cyan;
    text-align: center;
}